<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/frag :: commonHead('상품 상세')}"></head>
<body>
<div th:replace="~{include/frag :: headerFragment}"></div>

<div class="container mt-5" th:fragment="productDetail">
  <h4 class="mb-4"><span class="material-symbols-outlined">shopping_bag</span> 상품 상세 정보</h4>
  <table class="table table-bordered">
    <tr>
      <th>상품명</th>
      <td th:text="${product.name}"></td>
    </tr>
    <tr>
      <th>가격</th>
      <td th:text="'₩ '+${product.price}"></td>
    </tr>
    <tr>
      <th>설명</th>
      <td th:text="${product.description}"></td>
    </tr>
  </table>
  <div class="mt-3 d-flex gap-2">
    <a th:if="${session.loggedInUser != null}"
       th:href="@{/orders/new(productId=${product.productId})}"
       class="btn btn-success d-flex align-items-center gap-1">
      <span class="material-symbols-outlined">shopping_cart</span> 주문하기
    </a>
    <a th:unless="${session.loggedInUser != null}"
       th:href="@{/users/login(returnUrl=${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString})}"
       class="btn btn-success d-flex align-items-center gap-1">
      <span class="material-symbols-outlined">login</span> 로그인 후 주문
    </a>


    <a href="/products" class="btn btn-secondary d-flex align-items-center gap-1">
      <span class="material-symbols-outlined">arrow_back</span> 목록으로
    </a>
  </div>
</div>

<div th:replace="~{include/frag :: footerFragment}"></div>
</body>
</html>
